<mat-sidenav-container>
  <mat-sidenav opened [mode]="sidenavMode" #sidenav>
    <a mat-list-item *ngIf="sidenavMode == 'push'" (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
    <app-post-list [items]="items" (doSelect)="onSelect($event)" (dismiss)="onDismiss($event)"></app-post-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <span *ngIf="sidenavMode == 'push'" (click)="sidenav.open()">Open nav</span>
      <app-post-detail *ngIf="selected !== undefined" [item]="selected"></app-post-detail>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>