<mat-sidenav-container (document:mousemove)="onMouseMove($event)">
  <mat-sidenav opened [mode]="sidenavMode" #sidenav>
    <h3>Reddit posts</h3>
    <app-post-list [items]="items" (doOpen)="openDialog($event)" (doSelect)="onSelect($event)" (dismiss)="onDismiss($event)"></app-post-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button *ngIf="sidenavMode == 'push'" (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-post-detail *ngIf="selected !== undefined" [item]="selected" (doOpen)="openDialog($event)"></app-post-detail>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #dialog let-post="post">
  <div class="dialog">
    <img (click)="close()" [src]="post.url"/>
  </div>
</ng-template>