<div *ngFor="let item of items;" class="item" [ngClass]="{ 'read': item.storage.read}" @fadeout>
    <div (click)="selectAction($event, item)">
        <div class="fields">
            <span>{{item.post.author}}</span>
            <span>{{(item.post.created_utc * 1000)| timeAgo}}</span>
        </div>
        <div class="image">
            <img *ngIf="item.post.thumbnail" [src]="item.post.thumbnail" class="image"/>
            <span>{{item.post.title}}</span>
        </div>
        <div class="fields">
            <button (click)="dismissAction($event, item)">Dismiss</button>
            <span>{{item.post.num_comments}}<span *ngIf="item.post.num_comments"> comments</span></span>
        </div>
    </div>
</div>