div {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
div div {
    flex-direction: row;
}
img,
button,
span {
    flex-basis: 100%;
    padding: 2px;
}
.item {
    cursor: pointer;
    color: rgb(48, 53, 6);
    background-color: rgb(213, 231, 185);
    border-bottom: 1px solid gray;
}
.item.read {
    color: #8f9a7b;
}
img {
    margin-right: 5px;
}
.align-right {
    text-align: right;
}