<ng-container *ngFor="let item of items;">
    <div (click)="selectAction($event, item)" class="item" [ngClass]="{ 'read': item.storage.read}" @fadeout>
        <div>
            <span>{{item.post.author}}</span>
            <span class="align-right">{{(item.post.created_utc * 1000)| timeAgo}}</span>
        </div>
        <div>
            <img *ngIf="item.post.thumbnail"
            [src]="item.post.thumbnail"/>
            <span>{{item.post.title}}</span>
        </div>
        <div>
            <button (click)="dismissAction($event, item)">Dismiss</button>
            <span class="align-right">{{item.post.num_comments}}<span *ngIf="item.post.num_comments"> comments</span></span>
        </div>
    </div>
</ng-container>