<div *ngFor="let post of posts;" class="item" @fadeout>
    <div (click)="selectAction($event, post)">
        <div class="fields">
            <span>{{post.author}}</span>
            <span>{{(post.created_utc * 1000)| timeAgo}}</span>
        </div>
        <div class="image">
            <img *ngIf="post.thumbnail" [src]="post.thumbnail" class="image"/>
            <span>{{post.title}}</span>
        </div>
        <div class="fields">
            <button (click)="dismissAction($event, post)">Dismiss</button>
            <span>{{post.num_comments}}<span *ngIf="post.num_comments"> comments</span></span>
        </div>
    </div>
</div>