.item {
    background-color: rgb(213, 231, 185);
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 25px; 
    border-bottom: 1px solid gray;
    color: rgb(48, 53, 6);
}

.item.fields {
    background-color: rgb(213, 231, 185);
    margin-top: 5px;
    padding: 5px;
    padding-bottom: 25px; 
    border-bottom: 1px solid gray;
}

.image {
   display: flex;
   align-items: start;
}

img { 
    margin: 3px;
}

.fields {
	display: flex;
	flex-direction: col;
}
.fields > * {
	flex: auto;
    width: 50%;
}